#filemanager_menu {
	clear: both;
	height: 29px;
	background: url('../image/menu.png') repeat-x;
	position: relative;
	height: 32px;
	clear: both;
	padding: 0px 30px;
	min-width: 900px;
}
#filemanager_menu a {
	color:#FFF;
}
#filemanager_menu a:hover {
	color:#000;
}
#column-left {
	background: #FFF;
	border: 1px solid #CCC;
	border-top:none;
	float: left;
	width: 25%;
	height: 450px;
	overflow: auto;
	padding-top:5px;
	margin-bottom:20px;
}
#column-right {
	background: #FFF;
	border: 1px solid #CCC;
	border-top:none;
	float: right;
	width: 73%;
	height: 450px;
	overflow: auto;
	text-align: center;
	margin-bottom:20px;
	padding-top:5px;
}
#column-right div {
	text-align: left;
	padding: 5px;
	margin-bottom:55px;
}
#column-right a {
	display: inline-block;
	text-align: center;
	border: 1px solid #EEEEEE;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
}
#column-right a.selected {
	border: 1px solid #7DA2CE;
	background: #EBF4FD;
}
#column-right input {
	display: none;
}
#dialog {
	display: none;
}
.filemanager_button {
	display: block;
	float: left;
	padding: 8px 5px 8px 25px;
	margin-right: 5px;
	background-position: 5px 6px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.filemanager_button:hover {
	background-color: #EEEEEE;
}
.thumb {
	padding: 5px;
	width: 105px;
	height: 105px;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	cursor: move;
	position: relative;
}
#updateImage a {
	width: 130px;
	height: 16px;
	background: url('../javascript/jquery/ui/themes/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png') repeat;
	color: #fbfbfb;
	text-align: center;
	padding: 5px;
	line-height: 16px;
	font-size: 115%;
	font-weight: bold;
	margin: auto;
	margin-top:3px;
	background-position: 0px -50px;
}
#updateImage a:hover {
	background-position: 0px 0px;
	background-color:#EEE;
}
button.btn {
	float: left;
	font-size: 10px;
	margin-top: 6px;
}
.fileName {
	display: block;
}
.fileSize {
	clear: both;
	display: block;
}
.btnExtra {
	width: 58px;
	font-size: 9px;
	margin: 3px;
}
#search {
	width: 50px;
	padding: 5px;
	margin: 3px auto;
	border: 2px solid #ddd;
	border-radius: 8px;
	font-size: 20px;
}
#searchBox {
	position: fixed;
	right: 28px;
	bottom: 37px;
	background: #ddd;
	padding: 5px;
	border-radius: 3px;
	box-shadow: -1px -1px 6px #ccc;
}
#lblSearch {
	font-size: 9px;
	display: block;
}
#visualFeedback {
	width: 240px;
	position: fixed;
	right: 30px;
	top: 35px;
	border: 2px solid #fbfbfb;
	z-index: 99;
	background: #000;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #ccc;
	overflow: hidden;
	display: none;
}
#visualFeedback span {
	font-size: 12px;
	color: #fbfbfb;
	font-weight: bold;
	padding: 13px;
	display: block;
}