table.list thead td {
	padding: 5px;
}
table.list tbody td {
	padding: 5px;
}
table.form {
	border: 1px solid #DDDDDD;
}
table.form tbody th {
	padding: 5px;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}